.RewardsModal {
    min-width: 300px !important;
    max-width: 600px !important;

    .modal-body {
        padding: 1rem 2rem;
    }

}

@media all and (max-width: 576px) {
    .RewardsModal {
        text-align: center;
    }
}

