$color-primary: #862633;
$color-secondary: #f0928f;
$color-primary-light: #852632;

$color-text-inverse: #fff;
$color-text: #141414;
$color-text-dark: rgba(0, 0, 0, 0.8);

$bg-gray: rgba(31, 45, 65, 0.05);
$bg-dark-gray: rgba(31, 45, 65, 0.2);

$primary: $color-primary;
$secondary: $color-secondary;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);
