@import './../../../styles/variables';

.RewardsCard {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 1024px;
    min-height: 280px;
    border: 2px solid $color-secondary;
    margin-bottom: 5px;

    h4 {
        font-weight: bold;
        color: $color-secondary;
        margin-bottom: 0.8rem;
    }

    .details {
        color: $color-primary-light;
        font-weight: 500;
    }

    .expiry-tag {
        text-align: right;
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 0.9rem;
        line-height: 1rem;

    }

    .expiry-tag-inline {
        line-height: 1rem;
        margin-bottom: 15px;
    }

    @media all and (max-width: 576px) {
        .expiry-tag {
            display: none;
        }
    }

    @media all and (min-width: 576px) {
        .expiry-tag-inline {
            display: none;
        }

        .view-button {
            max-width: 250px;
            position: absolute;
            bottom: 25px;
        }
    }

}

@media all and (max-width: 576px) {
    .RewardsCard {
        text-align: center;
    }
}
